{
    "env": {
        "webextensions": true,
        "browser": true,
        "es6": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "indent": [
            "warn",
            4,
            { "SwitchCase": 1 }
        ],
        "linebreak-style": [
            "warn",
            "unix"
        ],
        "max-len": ["warn", 100],
        "quotes": [
            "warn",
            "double"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-redeclare": "off",
        "require-atomic-updates": "off"
    },
    "globals": {
        "isFirefox": true,
        "getCookies": true,
        "getCurrentTab": true,
        "cookieDomain": true,
        "parseUrl": true,
        "normalizeDomain": true,
        "getDomain": true,
        "baseDomain": true,
        "isWebPage": true,
        "getCookiesForUrl": true,
        "byId": true,
        "cleanRule": true,
        "domainToRule": true,
        "saveWhitelist": true,
        "getWhitelist": true
    }
}
